*,
*::before,
*::after {
  box-sizing: border-box;
}

body { text-align: center;}

html { 
  background: url(/Group\ 3.png) no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

h1 { font-family: Akzidenz-Grotesk Pro Bold Ext; 
    font-size: 57.33px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.9) 35%, rgba(255, 255, 255, 0.9) 65%, rgba(255, 255, 255, 0.5) 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 24px; margin-bottom: 24px;
  }

small {color: white; font-size: 16px; letter-spacing: 0.15em; font-family: Akzidenz-Grotesk Pro Bold Med;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


p {color: white; font-size: 18px; font-family: Akzidenz-Grotesk Pro; 
  background: linear-gradient(rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.5) 100%);
  display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px; margin-bottom: 48px;
}

.knopka { color: white; font-size: 18px;  font-family: Akzidenz-Grotesk Pro;
  background: linear-gradient(rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 32px;

}

.button:hover { transform: scale(1.08); transition: 0.25s;}
.button {background: rgba(255, 255, 255, 0.1);; padding: 16px 0px; display: inline-block; border-radius: 8px;
        transition: 0.65s;
}

.center1 { margin: 15% 0%;}

.icons { position: fixed; top: 40px; left: 0px; width: 100%; }
.icons a {margin: 0px 10px;}
.icons img {opacity: 0.48; transition: 0.75s;}
.icons a:hover img {opacity: 0.90; transition: 0.16s;}

@media screen and (max-width: 768px) {
  .icons {
  top: 20px;
  }
  }